$color-red = #ff0000
$color-blue = #0000ff
$color-black = #000
$color-white = #fff
$color-gray = #e2e2e2
$color-background = #eeeff2
$color-orange = #FF6A00
$color-green = #00B440
$color-dark = #151517

$color-main = $color-dark
$color-link = $color-dark
$color-hover = $color-green
$color-error = $color-red


$transition-long = unquote('.75s cubic-bezier(0.77, 0, 0.175, 1)')
$transition-medium = unquote('.5s cubic-bezier(0.77, 0, 0.175, 1)')
$transition-main = unquote('.25s cubic-bezier(0.645, 0.045, 0.355, 1)')
$transition-fast = unquote('.15s cubic-bezier(0.645, 0.045, 0.355, 1)')

@import "helpers/"
