.base_trade-in
  .base__side-img
    position absolute
    bottom 0
    left -20px
    img
      max-width initial

  .base__title
    margin-top 130px

  .base__text
    width 550px
    font-size 24px
    margin-top 25px

  .button
    size 190px 50px
    color $color-orange
    font-weight 700
    margin-top 25px
    margin-bottom 40px
    &:hover
      color $color-white

.advantages_trade-in
  margin-top 40px
  background none
  .advantages__title
    font-size 32px
    text-align left

  .advantages__items
    justify-content space-between
    margin-top 35px

  .advantages-item
    size calc(50% - 15px) auto
    min-height 220px
    margin 20px 0 0 0
    padding 28px 28px 28px 210px
    &__img
      size 186px
      display flex
      justify-content center
      align-items center
      transform translateY(-50%)
      top 50%
      left 15px

    &__title
      font-size 20px
      line-height 32px
      margin-top 10px

    &__text
      font-size 16px
      line-height 24px
      margin-top 35px

    &:after
      top 85px
      left 210px

.how-working_trade-in
  background none
  .how-working__wrapper
    justify-content flex-start

  .how-working__roadmap
    size 680px 980px
    padding 80px 80px 80px 50px
    margin-top 0
    &:after
      content none

  .how-working__roadmap-points
    margin-top 3px
    margin-right 60px

  .how-working__roadmap-point
    margin-bottom 284px
    &:after
      height 276px
      bottom -287px

  .how-working__roadmap-item
    height 200px
    b
      font-size 24px
      line-height 34px
      margin-bottom 30px
    span
      display inline-block
      font-size 18px
      line-height 24px

  .how-working__title
    line-height 62px
    margin-top 90px
    margin-left 50px
    span
      font-weight 700

  .how-working__img
    position absolute
    bottom -45px
    left -58px
    img
      max-width none

+do(1170)
  .how-working_trade-in
    .how-working__title
      width 210px
      line-height 54px

+do(1140)
  .base_trade-in
    .base__side-img
      bottom 40px
      left -135px

  .advantages_trade-in
    .advantages-item
      padding-left 160px
      &:after
        left 160px

    .advantages-item__img
      size 140px

+do(950)
  .base_trade-in
    .base__title
      margin-top 70px

    .base__side-img
      height 450px
      left -200px

  .how-working_trade-in
    .how-working__roadmap
      padding 80px 60px 80px 40px

    .how-working__roadmap-points
      margin-right 40px


+do(850)
  .advantages_trade-in
    .advantages-item
      padding-left 130px
      &:after
        left 130px

    .advantages-item__img
      size 100px

  .how-working_trade-in
    padding 0
    .how-working__wrapper
      flex-direction column-reverse
      padding-bottom 350px

    .how-working__roadmap
      size  550px 800px
      padding 60px 60px 60px 35px

    .how-working__roadmap-point
      margin-bottom 230px
      &:after
        height 222px
        bottom -226px

    .how-working__roadmap-item
      height 192px
      b
        font-size 20px
        line-height 24px
        margin-bottom 15px
      span
        font-size 16px
        line-height 24px

    .how-working__side
      position static

    .how-working__title
      width auto
      font-size 32px
      line-height 40px
      margin-top 0
      margin-bottom 50px
      margin-left 0

    .how-working__img
      display block
      right -50px
      bottom 20px
      left auto
      img
        max-width 100%

+do(800)
  .base_trade-in
    .base__title
      font-size 30px
      margin-top 30px

    .base__text
      width 350px
      font-size 20px
      margin-top 15px

    .base__side-img
      height 500px
      bottom 100px
      left -45px

+do(750)
  .base_trade-in
    .base__decor
      top 160px

    .base__side-img
      height 450px
      bottom 40px
      left -130px

  .advantages_trade-in
    margin-top 60px
    .advantages-item
      width 100%
      padding-left 180px
      &:after
        left 180px

    .advantages-item__img
      size 140px

  .how-working_trade-in
    padding-top 40px

+do(650)
  .base_trade-in
    .base__title
      margin-top 10px

    .base__text
      width 300px
      font-size 18px
      margin-top 10px

    .button
      margin-bottom 0

    .base__side-img
      height 440px
      left -220px

+do(600)
  .base_trade-in
    .base__decor
      top auto
      bottom -40px

    .base__side-img
      size auto 380px
      bottom -40px
      left -80px

  .advantages_trade-in
    .advantages__title
      font-size 28px

  .how-working_trade-in
    .how-working__roadmap
      width 100%

    .how-working__roadmap-item
      span
        font-size 16px
        line-height 20px

    .how-working__img
      width 320px


+do(500)
  .advantages_trade-in
    .advantages-item
      padding-left 28px
      &:after
        top 100px
        left 130px

    .advantages-item__title
      margin-left 100px
      margin-top 32px

    .advantages-item__text
      padding 0 15px
      margin-top 45px

    .advantages-item__img
      size 70px
      transform none
      left 40px
      top 40px

  .how-working_trade-in
    .how-working__wrapper
      padding-bottom 300px

    .how-working__roadmap
      height 660px
      padding 40px 40px 40px 30px

    .how-working__roadmap-points
      margin-right 30px

    .how-working__roadmap-point
      margin-bottom 184px
      &:after
        height 176px
        bottom -180px

    .how-working__roadmap-item
      height 180px
      b
        font-size 18px
        line-height 20px
        margin-bottom 10px
      span
        font-size 14px
        line-height 18px

    .how-working__title
      font-size 28px

    .how-working__img
      width 280px

+do(450)
  .base_trade-in
    .button
      margin-bottom 100px

    .base__decor
      bottom 50px

    .base__side-img
      height 350px
      bottom 50px
      left -130px

  .advantages_trade-in
    .advantages__title
      font-size 26px
